{{#with product}}
<div class="catalogue-item">
  <div class="image-wrapper">
    <img src="{{image}}">
  </div>
  <div class="title">{{name}}</div>
  <div class="assign-traits-link js-catalogue-product" data-id="{{id}}">Привязать характеристики</div>
  <div class="price">{{price}} {{currency.title}}</div>
</div>
{{/with}}
